@theme "~/.config/rofi/theme.rasi"

/* Study Timer specializes the global theme with a specific window width 
   and icons for the menu entries. */

window {
  width:            36%;
}

listview {
  lines:            8;
  columns:          1;
}

element-text {
  font:             @mono-font-label;
}
