@theme "~/.config/rofi/theme.rasi"

/* Study Timer specializes the global theme with a specific window width 
   and icons for the menu entries. */

window {
  width:            32%;
}

listview {
  lines:            8;
  columns:          1;
}

element-text {
  font:             "JetBrainsMono Nerd Font 11";
}
